<div class="row">
<div class="ui card">
    <div class="main-header">
      Eligibality Calculater
    </div>
    <div class="row EligibalityDetails">
    <div class="col-md-12 ed-text">
        <label>Monthly Income</label>
        <p class="e-details">&#x20B9; {{value}}</p>
        <mat-slider></mat-slider>
    </div>
    <div class="col-md-12 ed-text">
        <label>Monthly Expense</label>
        <p class="e-details">&#x20B9; {{value}}</p>
        <mat-slider></mat-slider>
    </div>
    <div class="col-md-12 ed-text">
        <label>Repayment Tenure</label>
        <select name="Repayment" class="e-details inputValues">
            <option [value]="" >6 months</option>
        </select>
    </div>
    <div class="col-md-12 ed-text">
        <label>Do you have any exesting loan</label>
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
    </div>
    <div class="col-md-12 ed-text">
        <label>EMI for exesting loan(optional)</label>
        <input type="text" value="&#x20B9; 15000" class="e-details inputValues">
    </div>
</div>
  </div>
  <div class="right-box card">
    <label class="l-amount">loan Amount</label>
    <p class="e-details">&#x20B9; {{value}}</p>
    <label style="font-size: 15px;">your EMI will be</label>
    <p class="e-details">&#x20B9; 1500</p>
    <a href="" class="get-m"> Get Money</a>
  </div>
</div>