<app-menu></app-menu>
<div class="container-fluid">
  <div class="row bg-img-bottomRigth">
    
    <div class="col-md-5 col-xl-5 col-sm-12 col-xs-12 bg-images-topleft">
     <p class="topleft-text">We make it Super <br> Simple</p>
     <hr/> 
     <img src="./../../../assets/images/collect_img-video.png" class="topleft-img"alt="collect_img">
    </div>
    <div class="col-md-7 col-xl-7 col-sm-12 col-xs-12 bg-images-topRight ">
      
      <app-eligibality-calculator></app-eligibality-calculator>
    </div>
  </div>

  <div class="row cardSection bg-image-soleWave">
    <div class="col-md-7 col-xl-7 col-sm-12 col-xs-12">
      <div class="left-cards">
        <div class="ui card">
          <div class="content">
            <img class="ui avatar image" src="./../../../assets/images/Get Paid Instantly.png"> 
          </div>
          <div class="card-title">
            Quick cash disbursement
          </div>
          <div class="description">
            Get terms loans that your business needs within 72 hrs
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <img class="ui avatar image" src="./../../../assets/images/Low interest rate.png"> 
          </div>
          <div class="card-title">
            Low-interest rate
          </div>
          <div class="description">
            Achieve your financial goals with an amazing interest rate starting at 13% per annum
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <img class="ui avatar image" src="./../../../assets/images/Secure Payments.png"> 
          </div>
          <div class="card-title">
            Zero Paperwork
          </div>
          <div class="description">
            Get started instantly by submitting only your basic details & bank statements
          </div>
        </div>
      </div>
      <div class="right-cards">
        <div class="ui card">
          <div class="content">
            <img class="ui avatar image" src="./../../../assets/images/freelancer_feature_icon_6@1.5x.png"> 
          </div>
          <div class="card-title">
            Ace your business finances
          </div>
          <div class="description">
            Manage banking, accounting & everything in between, on one platform
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <img class="ui avatar image" src="./../../../assets/images/Covid.png"> 
          </div>
          <div class="card-title">
            Loans to fight COVID-19
          </div>
          <div class="description">
            Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-md-5 col-xl-5 col-sm-12 col-xs-12 bottomText">
      <p class="bottom-text-title">Boost your business <br> with Open</p>
      <hr/>  
      <p class="bottom-text">Get your hands on a term loan that’s  <br> crafted for your business</p>
      <div class="bottom-button"> <a href="#" >Get an Open Account</a></div>
    </div>
    
  </div>
 
</div>
  